## 빅데이터 실습

### 제주도 핫플레이스 시각화

#### 데이터 수집

##### 웹사이트 제공 엑셀파일 수정

In [1]:
# 필수 라이브러리 사용등록
import pandas as pd
import numpy as np

In [2]:
dfSeoulManicipality = pd.read_excel('./data/전국_시군구_위경도.xlsx')
dfSeoulManicipality

      docity  do   city   longitude   latitude
0      강원강릉시  강원    강릉시  128.878497  37.749136
1      강원고성군  강원    고성군  128.470164  38.377961
2      강원동해시  강원    동해시  129.116633  37.521931
3      강원삼척시  강원    삼척시  129.167489  37.447086
4      강원속초시  강원    속초시  128.594167  38.204275
..       ...  ..    ...         ...        ...
290    충청충주시  충청    충주시  127.928144  36.988181
291    충청태안군  충청    태안군  126.299975  36.742667
292  충청한누리대로  충청  한누리대로  127.289926  36.485450
293    충청홍성군  충청    홍성군  126.662908  36.598361
294    충청대전시  충청    대전시  127.384862  36.350630

[295 rows x 5 columns]

In [4]:
# 서울 필터림
condition = dfSeoulManicipality['do'] == '서울'
dfSeoulGeo = dfSeoulManicipality[condition]

In [5]:
dfSeoulGeo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 138 to 162
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   docity     25 non-null     object
 1   do         25 non-null     object
 2   city       25 non-null     object
 3   longitude  25 non-null     float64
 4   latitude   25 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.2+ KB

In [6]:
# 필요로 만든 데이터는 항상 저장해둘 것
dfSeoulGeo.to_excel('./data/수정_서울_시군구_위경도.xlsx', index=False)

In [12]:
## 서울시 구별 인구데이터 로드
columns = ['구', '세대소계', '성별소계', '남자', '여자', '한국인소계', '남자', '여자', '등록외국인소계', '남자', '여자', '세대당인구', '65세이상']
dfSeoulPop = pd.read_excel('./data/서울시_구별_인구데이터.xlsx', header=2, usecols='B,O:Z')
dfSeoulPop.columns = columns
dfSeoulPop.tail()

c:\DEV\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,구,세대소계,성별소계,남자,여자,한국인소계,남자,여자,등록외국인소계,남자,여자,세대당인구,65세이상
21,관악구,284578,497883,249026,248857,481956,242651,239305,15927,6375,9552,1.69,85418
22,서초구,169884,412078,196391,215687,407664,194291,213373,4414,2100,2314,2.40,65661
23,강남구,239775,550282,262991,287291,544873,260520,284353,5409,2471,2938,2.27,86606
24,송파구,285927,660025,316981,343044,654166,314347,339819,5859,2634,3225,2.29,108894
25,강동구,203734,463318,226237,237081,459167,224423,234744,4151,1814,2337,2.25,82984

In [13]:
## 서울시 인구데이터 저장
dfSeoulPop.to_excel('./data/수정_서울_구별인구.xlsx', index=False)

In [18]:
## 서울시 구별 사업체현황 로드
dfSeoulWork = pd.read_excel('./data/서울시_구별_사업체현황.xlsx', header=4, usecols='B:G')
dfSeoulWork
columns = ['구', '소계', '여성대표자', '성별소계', '남자', '여자']
dfSeoulWork.columns = columns

c:\DEV\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [19]:
dfSeoulWork.tail()

      구      소계  여성대표자    성별소계      남자      여자
21  관악구   37915  13641  128417   68392   60025
22  서초구   71958  23066  487976  290084  197892
23  강남구  110007  35453  801419  447809  353610
24  송파구   74531  25400  400781  244588  156193
25  강동구   41660  15226  157465   83415   74050

In [20]:
## 서울시 구별 사업체현황 저장
dfSeoulWork.to_excel('./data/수정_서울_구별사업체.xlsx', index=False)